<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Slack Wave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="auth-page-login">
        <div class="auth-container-login">
            <div class="auth-logo-login">
                <i class="fa-brands fa-slack"></i>
                <h1>Slack Wave</h1>
            </div>
            <form id="loginForm" class="auth-form-login">
                <div class="error-message" id="errorMessage"></div>
                <div class="form-group-login">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group-login">
                    <label for="password">Password</label>
                    <div class="password-container">
                        <input type="password" id="password" name="password" required>
                        <button class="show-btn"type="button" id="togglePassword" onclick="togglePasswordVisibility('password', 'togglePassword')"><i class="fa-regular fa-eye"></i></button>
                    </div>
                </div>
                <button type="submit" class="auth-btn-login">Sign In</button>
            </form>
            <div class="auth-links-login">
                <p>New to Slack Wave? <a href="{{ url_for('auth.signup') }}">Create an account</a></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
